:root {
    --clr-accent-light: #f4bf6c;
    --clr-accent-dark: #c0862b;
    --clr-primary-bg: #fafafa;
    --clr-secondary-bg: #1e1e1e;
    --clr-primary-text: #1e1e1e;
    --clr-secondary-txt: #fafafa;
    --clr-shadow: #1e1e1e50;
    --clr-error: #DE4545;
    --clr-warning: #f99020;
    --clr-success: #65DE45;

    --font-display : ;
    --font-body : ;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0px;
}

a {
    text-decoration: none;
    color: var(--clr-primary-text);
}

html {
    background-color: var(--clr-secondary-bg);
}

main {
    width: 1149px;
    margin: auto;
}

div.movies {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-content: space-between;
    margin-bottom: 4rem;
}

section.movie {
    background-color: var(--clr-primary-bg);
    width: calc(100% / 3 - 1.5rem);
    border-radius: 1rem;
    box-shadow: var(--clr-shadow) 0px 7px 29px 0px;
    cursor: pointer;
    transition: 200ms ease;
}

div.img-container {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
    height: 200;
    position: relative;
    overflow: hidden;
}

.movie img {
    width: inherit;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

div.txt-container {
    width: 100%;
    height: fit-content;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

section.movie:hover {
    transform: scale(1.025);
}

section.movie h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

section.movie .realisator {
    font-size: 1rem;
    opacity: 90;
    margin-bottom: 0.75rem;
}

section.movie .duration {
    font-size: 1rem;
    opacity: 100;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

.pagination {
    align-self: center;
    background-color: var(--clr-secondary-bg);
    margin-bottom: 2rem;
    display: flex;
    align-content: space-around;
    width: 20vw;
}
.pagination a{
    color: var(--clr-secondary-txt);
}

#star-full {
    color: var(--clr-accent-light);
}

#star-decimal {
    color: var(--clr-accent-light);
}

#star-empty {
    color: #f0f0f0;
}

.movie-rating {
    height: 1rem;
}